:root {
    font: 20px Arial, sans-serif;
    --dark: #003366;
    --medium: #66ffd9;
    --light: #e6f2ff;
    --accent: #d9ffb3;
    --inner: .25em;
    --outer: .3em;
}
header, footer, article, nav {
    margin: var(--outer);
    padding: var(--inner);
}

header, footer {
    background-color: var(--accent);
    border: .2em solid var(--dark);
}

header > nav {
    padding: var(--inner);
}

header > nav > a {
    margin: var(--outer);
}

main > nav {
    background-color: var(--light);
    border: .1em dashed var(--dark);
}

main > nav > a {
    display: block;
    padding: var(--inner);
}
article {
    border: .1em solid var(--dark);

}

h1 {
    color: var(--dark);
    font-size: 1.5em;
}

h2 {
    border-bottom: .2em solid var(--medium);
    font-size: 1.25em;
}