.w3-button {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.w3-container:after,.w3-container:before {
	content:"";
	display:table;
	clear:both
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54
}
.w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
	color: #000 !important;
	background-color: #9e9e9e !important
}
.w3-orange, .w3-hover-orange:hover {
	color: #000 !important;
	background-color: #ff9800 !important;
}
.w3-green, .w3-hover-green:hover {
	color: #fff !important;
	background-color: #4CAF50 !important
}
.w3-red, .w3-hover-red:hover {
	color: #fff !important;
	background-color: #f44336 !important
}
.w3-center {
	display: inline-block;
	width: auto
}
.w3-block {
	display: block;
	width: 100%
}
.w3-input {
	padding: 8px 0;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}
.w3-padding-16 {
	padding-top: 16px !important;
	padding-bottom: 16px !important
}
.w3-margin-bottom {
	margin-bottom: 16px !important
}
.w3-border {
	border: 1px solid #ccc !important
}
/* removes the background in Chrome? */
input:-webkit-autofill, 
input:focus:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0px 1000px #FFF inset !important; 
}