body {
	background: #e0e0e0;
    font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0 auto;
    text-align: center;
	position: relative;
}
main {
	width: 100%;
	margin: auto;
	padding: 10px 0;
	background-color: white;
	min-height: 390px;	
}
section {	
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header h1 {
	color: #6f6f6f;   
    font: 400 40px Lato, sans-serif;
	margin: 20px 0 0;
    text-align: center;
    text-shadow: 0 0 0 rgba(0,0,0,.4);
}
aside {
	margin: 10px 0;
	line-height: 1.1em;
}
aside p:last-child {
	padding-top: 10px;
	font-size: 2.1em;
}
select {
	width: 100px;
	vertical-align: top;
}
kbd {
	font-size: 2em;
}
footer {
	color: gray;
}
footer address {
	margin: 10px auto;
	text-align: center;
}
button {
	padding: 1rem;
	border: 1px solid #ccc;
	background-color: #ddd;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
button:hover {
	cursor: pointer;
	background-color: #eee;
}
button, input[type=submit] {
	padding: 1.12rem;
	border: 1px solid #ccc;
	background-color: #ddd;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
button:hover, input[type=submit] {
	cursor: pointer;
	background-color: #eee;
}


/* navigation */
nav {
    margin: 20px auto;
    width: 90%;
	text-align: center;
}
nav a {
    background-color: #a4a4a4;
	color: #fff;
    display: inline-block;
	font: 15px Lato, sans-serif;
    padding: 7px;
    text-decoration: none;
}
nav a.active, nav a:hover {
    background: #c2c2c2;
    color: #818181;
}

form {
	padding-top: 5px;
}
select {
	width: 100px;
	vertical-align: top;
}

.fib table {
	margin: 0px;
	border: 1px solid #666;
	margin: 0 auto;
	text-align: center;
}
.fib th:first-child {
	width: 100px;
}	
.fib th {
	text-align: left;
	background-color: #aaa;
}
.fib th, td {
	padding: 0.2em;
	
}
.fib tr.alt td {
	background: #ddd;
}


/* tic tac toe */

.ttt {
	margin: 20px auto;
}
.ttt table {
    margin: 20px auto;
	padding: 10px;
	background-color: white;
}
.ttt td {
	height: 60px;
	width: 60px;
	font-size: 2.2em;
	font-family: sans-serif;
	border: 1px solid #00f;
	background-color: white;
}	  
.ttt td:nth-child(1) {
	border-left-style: none;
}

.ttt td:nth-child(3) {
	border-right-style: none;
}

.ttt tr:nth-child(1)>td {
	border-top-style: none;
}

.ttt tr:nth-child(3)>td {
	border-bottom-style: none;
}

.greset {
	display: block;
	height: 20px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: black;
	background-color: orange;
	border: none;
	bottom: 0.3125em;
	position: absolute;
	bottom: 0;	
	cursor: pointer;
	padding: 0.3125em;	
}
.available {
	color: black;	
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: 0 solid white;
	border: 0 solid white;
	background-color: white;
}
.narrow {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}
.left {
	text-align: left;
}
.available {
	color: #fff; 
}
.played {
	color: black;
}
.winner {
	color: red;
}
