/* Highlighted Paragraphs */
.highlight-1, .highlight-2, .highlight-3 {
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	padding : 5px 10px;
}
	.highlight-1 {
		background : #ffb699;
		border : 1px dotted #FF9966;	
	}
	.highlight-2 {
		background : #FFFF99;
		border : 1px dotted #FFCC33;	
	}
	.highlight-3 {
		background : #CCFF99;
		border : 1px dotted #CCCC33;
		margin-top: 24px;
	}	
	.highlight-4 {
		background : black;
		border : 1px dotted gray;
		font-family: 'Ubuntu Mono' ;
		color: white;
		font-size: 18px;
		padding: 5px 15px;
		margin: 2px 10px;
	}	
	img.disp, figcaption {
		width: 600px;
		padding-bottom: 5px;
	}