/* general styles */

/* 
  Sheridan colors 
  color: var(--darkblue);
*/
:root {
	--blue: #003767;
	--white: #ffffff;
	--lightblue: #00b2ce;
	--darkblue: #0081a1;
	--darkgray: #333940;
	--lightgray: #d5d5d5;
	--top: 25px;
}
body {
	font-family: Poppins, sans-serif;
	font-size: 16px;
}
h2 {
	font-family: Oswald, sans-serif;
	font-size: 46px;
	padding-top: 80px;
}
h3 {
	font-family: Oswald, sans-serif;
	font-size: 36px;
}
h4 {
	font-family: Oswald, sans-serif;
	font-size: 26px;
}
h5 {
  font-family: Oswald, sans-serif;
	padding-top: 20px;
	padding-bottom: 0;
}
nav > a {
	display: block;
}
a {
	color: var(--blue);
}
summary:before {
	content: "\2b9e";
	/* the new icon  ≡\2714*/
	color: gray;
	margin-right: 5px;
}
summary::-webkit-details-marker,
summary::marker {
	display: none;
	content: "";
}
details[open] summary:before {
	content: "\2b9f";
	/* the new icon  "∧› ⚊ ⋮ " */
	color: lightgray;
}
samp {
	border: 1px dotted lightgray;
	margin: 2px;
	padding: 1px;
}

figure {
	max-width: 800px;
	padding-left: 5px;
	border: 3px solid;
	border-image-source: linear-gradient(70deg, #FFCC66, white, white, white);
	border-image-slice: 1;
}
section {
	margin-top: 60px;
	padding-top: 15px;
	border-width: 0;
	border-top: 50px solid transparent;
	border-image: url(images/sher_light_thin.gif) 30 round;
}
.active {
  font-weight: bold;
}
.secondary {
	color: gray;
	margin: 0;
	padding: 0 0 0 32px;
	font-size: 0.9em;
	display: block;
}
.eeb-border-quote {
	border-left: 3px solid darkorange;
	padding-left: 6px;
}
.col3 {
	column-count: 3
}
.item {
	box-sizing: border-box;
	width: 100%;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	font-family: 'Abril Fatface', serif;
	font-size: 46px;
}
hr {
	border: 0;
	padding: 0 auto;
	margin: 33px auto 6px;
	height: 3px;
	background-image: -webkit-linear-gradient(left, rgba(190, 190, 190, 0), rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
	background-image: -moz-linear-gradient(left, rgba(190, 190, 190, 0), rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
	background-image: -ms-linear-gradient(left, rgba(190, 190, 190, 0), rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
	background-image: -o-linear-gradient(left, rgba(190, 190, 190, 0), rgba(190, 190, 190, 0.75), rgba(190, 190, 190, 0));
}

/* conversion tool
   https://yoksel.github.io/url-encoder/
   icons on bootstrap
   https://icons.getbootstrap.com/icons/
.svg-clip:before {
  content: url("data:image/svg+xml, %3Csvg class='bi bi-link-45deg' width='1em' height='1em' viewBox='0 0 16 16' fill='teal' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z'/%3E%3Cpath d='M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z'/%3E%3Cpath d='M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z'/%3E%3Cpath d='M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z'/%3E%3C/svg%3E");
}   
*/
.svg-clip::before {
  content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' fill='teal' width='1em' height='1em'  viewBox='0 0 16 16'><path d='M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z'/%3E%3Cpath d='M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z'/%3E%3Cpath d='M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z'/%3E%3Cpath d='M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z'/></svg>");
}
.custom-cursor {
	cursor: 
    url('images/alpha_o_box_outline_icon_139996.png'),	
    default;
}
.custom-x {
	cursor: 
    url('images/alpha_x_box_outline_icon_139978.png'),
    url('https://www.twitter.com/favicon.ico'),
    url('https://www.youtube.com/favicon.ico'),
    default;
}
