/*
Author: Ellen Bajcar

The materials provided in class and in SLATE are protected by copyright. They are intended for the personal, educational uses of students in this course and should not be shared externally or on websites such as Course Hero or OneClass. Unauthorized distribution may result in copyright infringement and violation of Sheridan policies.


font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Source Sans 3', sans-serif;
*/
@import url(https://fonts.bunny.net/css?family=m-plus-code-latin:400|source-sans-3:400);


:root {
    --main-font: 'Source Sans 3', sans-serif;
    
    --line-length: 60rem; /* Maximum line length for prose. */
}
dfn > code {
    font-style: normal;
    text-decoration: 1px dashed var(--muted-fg) underline;
}
code a {
    font-family: inherit;
}
.current {
    font-weight: bold;
}
.big-value {
  font-size: 4em;
  font-weight: normal;
  text-align: left;
  text-shadow: 2px 2px 2px gray;
  padding-bottom: 20px;
}
/*
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number

*/
input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
  color: lightgray;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
  color: gray;
}
select {
  width: 100%;
}
p code, li code {
  color: darkorange;
}