/* No normal bullets please */
ul {
  list-style-type: none;
  padding-left: 10px;
}
li {
  position: relative;
  /* Use padding to space things out rather than margins as the line would get broken up otherwise */
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}
/* The actual line being placed before each list item, tweak width and color as appropriate */
li:before {
  background-color: #093D6D;
  width: 2px;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}   
/* Start the line further down on the first list item */
li:first-child:before { 
  top: 15px;  
}
/* Stop the line short on the final list item */
li:last-child:before { 
  height: 6px; 
}   
/* Styles for the SVG bullet points */
.bullet { 
  margin-left: -20px; 
  width: 12px; 
  fill: #093D6D; 
  float: left; 
  padding-right: 10px 
}
.bullet.big { 
  width: 16px; 
  margin-left: -22px; 
  padding-right: 8px 
}



/* special customized scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
