/*
  external styling sheet for gallery page 
  Assignment 2, Web Development (SYST10049)
  Sheridan College, Winter 2021
  
  Source: How TO - Slideshow Gallery
  https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp
  
  DO NOT MAKE ANY CHANGES TO THIS FILE FOR THIS ASSIGNMENT
*/


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 95%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* height: 640px;*/
  overflow: hidden;
  max-width: 100%; 
  max-height: 550px;
  display: inline-block;
  margin: auto;
  text-align: center;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 120px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 0 16px 2px ;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
      overflow-x: auto;
        display: flex;  
  flex-wrap: nowrap;
}
/* columns side by side for thumbnails */
.column {
  float: left;
  /* width: 12.5%; */
  height: 100px;
  width: 100px;
  opacity: 0.6;
  cursor: pointer;
  border: 1px gray solid;
  border-radius: 50%;
}
/* Add a pointer when hovering over the thumbnail images 
.cursor {
  cursor: pointer;
}
*/
/* Add a transparency effect for thumnbail images 
.demo {
  opacity: 0.6;
}
*/
.active,
.demo:hover {
  opacity: 1;
}