	body {font-family: Palatino Linotype; background-image: url("../../images/sher_lightb.jpg"); width: 90%; margin: 10px auto;}
	table { background-color: rgba( 250,250,250,0.7 );}
	td { padding: 1px 5px; }
	footer { text-align: right;}
	.tdreset { color: black;}
	.tdsel {background-color: rgb(72, 209, 204); color: black;}
	.tdgray { background-color: white; color: lightgray;}
	#message { position: absolute; z-index: 5; display: none; text-align: justify; box-shadow: 30px 30px 70px white; font-weight: bold;
			top:0;  width: 70%; border: 1px solid gray; margin: 15px; background-color: #376E8A; color: white; border-radius: 10px; padding: 15px; margin: 15px;}