/*
Author: Ellen Bajcar
Date created: Mar. 31, 2017
Date updated:
Project: Health Survey (in class examples)
Description: example of styling a survey
*/

/* General Form */

body {
	background-color: #555;
	background: linear-gradient(to bottom, #111 0%, #888 100%);
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: auto;
	text-align: center;
	width: 100%;
}

legend, h2, h3, label { margin: 0; padding: 5px 0 0 5px; }
legend { font-size: 1em; }
label	  { font-size: 1em; font-weight:bold; }
h2	  { font-size: 1.2em; }
h3	  { clear: both; }

form {
	background: rgba(212,228,239,1);
	background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	border-radius: 3px;
	box-sizing: border-box;
	color: black;
	margin: 2px auto;
	max-width: 700px;
	padding: 10px;
	text-align: left;
	width: 50%;
}

form section {
	margin: 0 5px;
	padding: 0;
}

form   footer {
	margin: auto;
	text-align: center;
}

fieldset {
	border: 2px #fff solid;
	padding: 0;
	margin: 0;
}

.row {
	margin-bottom: 5px;
	box-sizing: border-box;
	width: calc(100% - 6px); 
}

[class*="col-"] {
	float:left;
}
section > .col-1-2 {
	width: calc(50% - 6px);
}
fieldset > .col-1-2 {
	width: calc(50% - 12px);
}
input, select {
	border-radius:5px;
	border-style: hidden;
	box-sizing: border-box;
	color: #777;
	cursor: pointer;
	font-size: 18px;
	line-height: 2em;
	margin: 0px 3px 3px 3px;
	padding-left: 40px;  /* makes room for image */	
}
select {
	background: #fff url('../images/globe.png')  no-repeat; background-size: auto 100%;
	height: 2.1em;
	width: calc(50% - 6px);
}

input[type=submit] {
	background: rgb(149,149,149);
	background: linear-gradient(to bottom, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%);
	box-shadow: 2px 2px 5px #888;
	color:#fff;
	font-size: 21px;
	height: 100%;
	margin: 5px auto;
	padding: 0 15px;
}

input[type=date]{
	background: #fff url('../images/date.png')  no-repeat; 
	background-size: auto 100%;
	width: 100%;
}
input[type=email] {
	background: #fff url('../images/email.png')  no-repeat; 
	background-size: auto 100%;
}
.address input[placeholder]{
	background: #fff url('../images/home.png')  no-repeat; 
	background-size: auto 100%;
}
[placeholder="First"],
[placeholder="Last"]	{
	background: #fff url('../images/user.png') no-repeat; 
	background-size: auto 100%;
}
[placeholder="Home"] {
	background: #fff url('../images/tel.png')  no-repeat; 
	background-size: auto 100%;  
}
[placeholder="Work"]{
	background: #fff url('../images/work.png')  no-repeat; 
	background-size: auto 100%;  
}
