/* 
Author: Ellen Bajcar
Date created: Summer, 2017
Date updated: 
Version: 1
File: css/sudoku.css
Copyright: 
	This work is the intellectual property of Sheridan College. 
	Any further copying and distribution outside of class must be within 
	the copyright law. Posting to commercial sites for profit is prohibited.
Purpose: 
	Practice Javascript, HTML5, CSS3, and progressive enhancement	
Description:	
	Presentation layer of a Sudoku board
*/
root { 
    display: block;
}
body {
    text-align:center;
}
p {
    font-family:monospace;
}
table {
    margin:auto;
}
td {
    width:50px;
    height:50px;
    border: 1px solid black;
    font-size:40px;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
}
